body{
    background-image: url(butterfly.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.home{
    margin-top: 10%;
    border-radius: 20px;
    margin: auto;
    width: 60%;
    text-align: center;
    border: solid;
    background-color: lightsalmon;
}